<div
  *ngIf="selections.datasets.length > 0; then correlations; else uploadDialog"
></div>

<ng-template #correlations>
  <div
    *ngIf="validDatasetAvailable; then validSelections; else inValidSelections"
  ></div>
</ng-template>

<ng-template #uploadDialog>
  <app-fileupload></app-fileupload>
</ng-template>

<ng-template #validSelections>
  <app-heatmap></app-heatmap>
  <app-correlation></app-correlation>
</ng-template>

<ng-template #inValidSelections>
  <div class="outer-wrapper">
    <mat-card class="outer">
      <mat-card class="dialog">
        <mat-card-title>
          <mat-icon style="font-size: xx-large; padding: 7px"
            >info_outline</mat-icon
          >
          <div>
            Correlations cannot be computed for the current selections
          </div></mat-card-title
        >
        <br />
        <mat-card-content>
          <p>
            Please select a feature (and time) for at least one of the data
            sets.
          </p>
          <p>The data sets can be managed through the sidebar.</p>
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</ng-template>
