.outer-wrapper{
    padding: 10px;
}

.outer-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dialog{
    height: 250px;
    width: 500px;
}