mat-card-title{
    line-height: 1.5;
}

.outer-wrapper{
    padding: 10px;
}

.outer{
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dialog{
    height: 250px;
    width: 500px;
}