.statistics-wrapper,
.dialog-wrapper {
  padding: 10px;
}

.outer,
.dialog {
  height: 450px;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

mat-card-title {
  line-height: 1.5;
}

.single-stat {
  width: 6em;
  min-height: 3em;
  margin-right: 2em;
}

.single-stat-growth {
  width: 16em;
  min-height: 3em;
  margin: 1em;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}

.growth-container {
  margin-top: 2em;
  margin-bottom: 2em;
}

.growth-selections {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ngx-slider {
  margin-left: 1em;
  margin-right: 1em;
  max-width: 26em;
}

mat-form-field {
  width: 8em;
  margin-right: 2em;
  float: left;
}

.info-title {
  display: flex;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
  background: #ffffff;
  height: 2px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: red;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #c2175a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-limit {
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffffff;
  top: -1px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #c2175a;
}
