.statistics-wrapper{
  padding: 10px;
  
}

.outer{
  height: 450px;
}

.single-stat{
    width: 6em;
    min-height: 3em;
    margin-right: 2em;
}

.single-stat-growth{
    width: 16em;
    min-height: 3em;
    margin: 1em;
}

.stats-container{
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}

.growth-container{
    margin-top: 2em;
    margin-bottom: 2em;
}

.growth-selections{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ngx-slider{
    margin-left: 1em;
    margin-right: 1em;
    max-width: 26em;
}

mat-form-field{
    width: 8em;
    margin-right: 2em;
    float: left;

}