.data-table {
  height: 95%;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  white-space: pre-line;
  overflow: hidden;
  vertical-align: middle;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.data-table-container {
  padding: 10px;
  height: 400px;
}
mat-card {
  height: 450px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
