.data-table {
  height: 95%;
  max-width: 100%;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  white-space: pre-line;
  overflow: hidden;
  vertical-align: middle;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

mat-card {
  height: 500px;
}