.map-wrapper {
  padding: 10px;
}

.slider-container {
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

mat-radio-button {
  padding: 0.5em;
}

mat-card {
  height: 550px;
}

mat-card-title {
  line-height: 1.5;
}

.dialog-wrapper {
  padding: 10px;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
