<div class="map-wrapper" [formGroup]="selectionControl">
  <mat-card *ngIf="data.data.length > 0">
    <div>
      <plotly-plot *ngIf="data.data.length > 0" [data]="data.data" [layout]="data.layout" [config]="data.config">
      </plotly-plot>
    </div>
    <div class="slider-container">
      <mat-radio-group aria-label="Select an option" formControlName="geojsonControl">
        <mat-radio-button value="global">Global</mat-radio-button>
        <mat-radio-button value="germany">Germany</mat-radio-button>
      </mat-radio-group>
      <ngx-slider formControlName="sliderControl" [(value)]="currentSliderValue" [options]="options"></ngx-slider>
    </div>
  </mat-card>
</div>