.map-wrapper {
  padding: 10px;
}

.slider-container {
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

mat-radio-button {
  padding: 0.5em;
}

mat-card {
  height: 550px;
}

mat-card-title {
  line-height: 1.5;
}

.dialog-wrapper {
  padding: 10px;
}

.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.zoom-button {
  margin-bottom: -80px;
  z-index: 1;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
  background: #ffffff;
  height: 2px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: red;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #c2175a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-limit {
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffffff;
  top: -1px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #c2175a;
}
