.outer-wrapper{
    padding: 10px;
}

.outer-dialog{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dialog{
    height: 250px;
    width: 500px;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 60px;
}