<div
  *ngIf="selections.datasets.length > 1; then varforecasts; else uploadDialog"
></div>

<ng-template #varforecasts>
  <div class="outer-wrapper">
    <mat-card class="outer">
      <mat-button-toggle-group #group="matButtonToggleGroup" value="graph">
        <mat-button-toggle value="graph" [routerLink]="['graph']">
          <mat-icon>timeline</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="map" [routerLink]="['map']">
          <mat-icon>room</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <router-outlet></router-outlet>
    </mat-card>
  </div>
</ng-template>

<ng-template #uploadDialog>
  <app-fileupload></app-fileupload>
</ng-template>
