.mat-form-field {
  margin-right: 10px;
}

.selected-columns-container {
  display: block;
}

.data-selector {
  margin: 10px;
}

.mat-radio-button {
  margin: 5px;
}

.column-selection-accordion {
  padding: 10px;
}

.delete-button {
  float: right;
}

.files-container {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}
