.mat-form-field {
  margin-right: 10px;
}

.selected-columns-container {
  display: block;
}

.data-selector {
  margin: 15px;
}

.mat-radio-button {
  margin: 5px;
}

.column-inputs-row {
  margin-left: 30px;
}

.delete-button {
  margin-right: 0;
}

.data-selector-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.section-label {
  font-size: 18px;
  font-weight: lighter;
  padding: 10px;
  margin-top: 1em;
}

.dataset{
  margin-top: 2em;
  padding-left: 1em;
  width: 250px;
}

.dataset-header{
  width: 220px;
  display: flex;
  align-items: center;
}

.dataset-name{
  display: inline-block;
  width: 190px;
  overflow-x: hidden;
  text-overflow: ellipsis;         
}

.active{
  border-left: 10px solid green;
  border-radius: 10px;
}

.inactive{
  border-left: 10px solid #c2185b;
  border-radius: 10px;
}