mat-slider {
  width: 400px;
}

.lags-slider {
  width: 200px;
}

.toggle-container {
  margin-top: 10px;
  display: flex;
}

.model-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-radio-button {
  margin-left: 5px;
}

mat-checkbox {
  margin-right: 10px;
}

.freq-selector {
  height: 50px;
  margin-right: 10px;
}

.var-wrapper {
  padding: 10px;
}

.data-selector {
  float: right;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
