mat-slider {
  width: 400px;
}

.lags-slider {
  width: 200px;
  margin-top: 0px;
}

.toggle-container {
  display: flex;
}

.slider-container {
  min-width: 80%;
}
.model-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-radio-button {
  padding: 5px;
}

mat-checkbox {
  margin-right: 10px;
}

.freq-selector {
  height: 50px;
  margin-right: 10px;
}

.alpha-slider-container {
  margin-top: 10px;
  margin-left: 15px;
}

.dialog {
  width: 500px;
  height: 250px;
  display: inline-block;
}

.dialog-wrapper {
  padding: 10px;
  text-align: center;
}

.data-selector {
  float: right;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-wrapper {
  min-height: 500px;
}

.custom-slider {
  min-width: 90%;
  display: flex;
}

mat-tooltip{
  white-space: pre-line;
}

::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
  background: #ffffff;
  height: 2px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: red;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #c2175a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffffff;
  top: -1px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #c2175a;
}
