<div *ngIf="countries.length > 0">
  <mat-button-toggle-group
    name="frequency"
    aria-label="Frequency"
    [(ngModel)]="frequency"
    (change)="updateVarForecast()"
  >
    <mat-button-toggle value="Yearly">Yearly</mat-button-toggle>
    <mat-button-toggle value="Monthly">Monthly</mat-button-toggle>
    <mat-button-toggle value="Weekly">Weekly</mat-button-toggle>
    <mat-button-toggle value="Daily">Daily</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="toggle-container">
    <mat-form-field appearance="fill">
      <mat-label>Country</mat-label>
      <mat-select
        [(ngModel)]="selectedCountry"
        (selectionChange)="updateVarForecast()"
      >
        <mat-option *ngFor="let country of countries" [value]="country">
          {{ country }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <section class="slider-section">
      <div># of predictions</div>
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        [(ngModel)]="predictionPeriods"
        (change)="updateVarForecast()"
        aria-label="unit(s)"
        [min]="0"
        [max]="40"
      ></mat-slider>
    </section>
  </div>
  <section>
    <div>Max lags</div>
    <mat-slider
      class="lags-slider"
      thumbLabel
      [displayWith]="formatLabel"
      [(ngModel)]="maxLags"
      (change)="updateVarForecast()"
      aria-label="unit(s)"
      [min]="1"
      [max]="8"
    ></mat-slider>
  </section>

  <plotly-plot
    *ngIf="data.data.length > 0"
    [data]="data.data"
    [layout]="data.layout"
  ></plotly-plot>
</div>
