<mat-toolbar class="topnav" color="primary">
  <button
    mat-icon-button
    aria-label="Example icon-button with menu icon"
    (click)="datafiltering.toggle()"
    style="margin-right: 10px"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a id="TitleButton" routerLink="/">
    <span>
      Digital Twin of Society
      <fa-icon [icon]="faChartColumn"></fa-icon>
    </span>
  </a>
  <nav>
    <a class="nav-button" routerLink="/overview" routerLinkActive="activebutton"
      >Overview</a
    >
    <a
      class="nav-button"
      routerLink="/correlations"
      routerLinkActive="activebutton"
      >Correlations</a
    >
    <a
      class="nav-button"
      routerLink="/forecasts/var"
      routerLinkActive="activebutton"
      >Multivariate Forecast</a
    >
    <a
      class="nav-button"
      routerLink="/forecasts/prophet"
      routerLinkActive="activebutton"
      >Prophet Forecast</a
    >
  </nav>
</mat-toolbar>
<mat-drawer-container class="content-container">
  <mat-drawer #datafiltering mode="side">
    <div class="header-buttons">
      <button class="upload-button" mat-button (click)="onFileUpload()">
        <mat-icon style="margin-right: 20px">file_upload</mat-icon>
        Upload dataset
      </button>
    </div>
    <div class="header-buttons">
      <button mat-button class="demo-button" (click)="getDemoDatasets()">
        <mat-icon style="margin-right: 20px">slideshow</mat-icon>
        Demo Datasets
      </button>
    </div>
    <mat-divider></mat-divider>
    <app-datafiltering></app-datafiltering>
  </mat-drawer>
  <router-outlet></router-outlet>
</mat-drawer-container>
