.plot-row {
  display: flex;
  margin-top: 50px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.app-correlation {
  width: 600px;
}

/* .demo-button {
  float: right;
  margin-left: auto;
}

.upload-button {
  float: right;

  margin-right: auto;
} */

.header-buttons {
  float: right;
  margin-left: auto;
}
