.plot-row {
  display: flex;
  margin-top: 50px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.app-correlation {
  width: 600px;
}

.header-buttons {
  margin-right: 10px;
}

.forecast-container {
  padding: 20px;
}

.content-container {
  /*height - topnav*/
  height: -moz-calc(100% - 64px);
  height: -webkit-calc(100% - 64px);
  height: -o-calc(100% - 64px);
  height: calc(100% - 64px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.demo-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: lighter;
}

.upload-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 14px;
  font-weight: lighter;
}
nav{
  margin-left: 10em;
}

.topnav{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

.nav-button {
  background: #c2185b;
  border-radius: 6px;
  border: 1px solid #303030;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  margin-left: 1em;
}
.activebutton {
  background: #424242;;
  border: 1px solid #303030;
  color: inherit;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#TitleButton{
  text-decoration: none;
  color: inherit;
}
