.plot-row {
  display: flex;
  margin-top: 50px;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.app-correlation {
  width: 600px;
}

.header-buttons {
  float: right;
  margin-left: auto;
}

.forecast-container {
  padding: 20px;
}

.content-container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
