<mat-toolbar color="primary">
  <span>Digital Twin of Society</span>
</mat-toolbar>
<app-datafiltering></app-datafiltering>
<app-datatable></app-datatable>
<div class="plot-row">
  <app-history></app-history>
  <app-map></app-map>
</div>
<mat-tab-group mat-stretch-tabs style="min-height: 700px">
  <mat-tab label="Heatmap">
    <app-heatmap></app-heatmap>
  </mat-tab>
  <mat-tab label="Correlation line chart">
    <ng-template matTabContent>
      <app-correlation></app-correlation>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<mat-tab-group mat-stretch-tabs style="min-height: 700px">
  <mat-tab label="Multivariate Forecasting">
    <app-vectorautoregression></app-vectorautoregression>
  </mat-tab>
  <mat-tab label="Scenario-based Forecasting">
    <app-prophetscenarios></app-prophetscenarios>
  </mat-tab>
</mat-tab-group>
