<div class="heatmap-wrapper">
  <mat-card>
    <div>
      <div [formGroup]="selectionControl">
        <mat-form-field>
          <mat-label>Features</mat-label>
          <mat-select formControlName="selectedFeaturesControl" multiple>
            <mat-option
              *ngFor="let feature of featureOptions"
              [value]="feature"
            >
              {{ feature }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <plotly-plot
        *ngIf="data.data.length > 0"
        [data]="data.data"
        [layout]="data.layout"
        [config]="data.config"
      ></plotly-plot>
    </div>
  </mat-card>
</div>
