.heatmap-wrapper {
  padding: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.outer {
  min-height: 500px;
}

.feature-selector {
  display: flex;
}

.frequency-disclaimer {
  display: flex;
  float: right;
  margin-left: auto;
}

.disclaimer-text {
  margin-left: 10px;
}
