<div class="heatmap-wrapper">
  <mat-card class="outer">
    <div [formGroup]="selectionControl" class="feature-selector">
      <mat-form-field>
        <mat-label>Features</mat-label>
        <mat-select formControlName="selectedFeaturesControl" multiple>
          <mat-option *ngFor="let feature of featureOptions" [value]="feature">
            {{ feature }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="frequency-disclaimer" *ngIf="matchingFrequencies === false">
        <mat-icon>info_outline</mat-icon>
        <p class="disclaimer-text">
          Time frequencies should match to correlate
        </p>
      </div>
    </div>
    <div *ngIf="showSpinner; then spinner; else heatmap"></div>
  </mat-card>
</div>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #heatmap>
  <div>
    <mat-card>
      <plotly-plot
        *ngIf="data.data.length > 0"
        [data]="data.data"
        [layout]="data.layout"
        [config]="data.config"
      ></plotly-plot>
    </mat-card>
  </div>
</ng-template>
