<div class="toggle-container">
  <mat-button-toggle-group
    class="freq-selector"
    name="frequency"
    aria-label="Frequency"
  >
    <mat-button-toggle value="Yearly">Yearly</mat-button-toggle>
    <mat-button-toggle value="Monthly">Monthly</mat-button-toggle>
    <mat-button-toggle value="Weekly">Weekly</mat-button-toggle>
    <mat-button-toggle value="Daily">Daily</mat-button-toggle>
  </mat-button-toggle-group>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <mat-select [(ngModel)]="selectedCountry">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="data-selector">
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button
      *ngFor="let dataset of selections.datasets"
      [value]="dataset.id"
    >
      {{ dataset.id }} ({{ dataset.featureSelected }})
    </mat-radio-button>
  </mat-radio-group>
</div>
<section class="slider-section">
  <div># of predictions</div>
  <mat-slider
    thumbLabel
    aria-label="unit(s)"
    [(ngModel)]="predictionPeriods"
    (change)="updateScenarios()"
    [min]="0"
    [max]="40"
  ></mat-slider>
  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="updateProphetForecast()"
  >
    <mat-icon>restart_alt</mat-icon>
  </button>
</section>
<ng-container *ngFor="let dataset of selections.datasets">
  <div
    *ngIf="
      dataset.id !== selections.selectedDataset && dataset.id !== undefined
    "
  >
    <div>{{ dataset.featureSelected }}</div>
    <mat-form-field class="scenario-field" *ngFor="let i of scenarioIndeces">
      <mat-label> Step {{ i }}</mat-label>
      <input
        matInput
        [(ngModel)]="scenarios[dataset.id][i]"
        placeholder="Scenario"
      />
    </mat-form-field>
  </div>
</ng-container>
<plotly-plot
  *ngIf="data.data.length > 0"
  [data]="data.data"
  [layout]="data.layout"
></plotly-plot>
