mat-slider {
  width: 400px;
}

.lags-slider {
  width: 200px;
}

.toggle-container {
  margin-top: 10px;
  display: flex;
}

.slider-section {
  margin-top: 10px;
}

.model-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

mat-radio-button {
  margin-left: 5px;
}

.freq-selector {
  height: 50px;
  margin-right: 10px;
}

.scenario-field {
  width: 60px;
  margin-right: 10px;
}

.scenario-label {
  margin-bottom: 5px;
}

.data-selector {
  margin-top: 10px;
  margin-bottom: 10px;
}

.prophet-wrapper {
  padding: 10px;
}

.forecast-controls {
  display: flex;
}

.predict-button {
  margin-right: 0;
  margin-left: auto;
}

.scenarios-control {
  margin-bottom: 5px;
}

.plot-container {
  margin-top: 10px;
  text-align: center;
}

.section-label {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.status-icon {
  float: right;
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

.status-icon-active {
  float: right;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  color: #4caf51;
}

.status-icon-target {
  float: right;
  display: flex;
  margin-left: auto;
  margin-right: 0;
  color: #2596be;
}

.dialog {
  max-width: 500px;
  display: inline-block;
}

.dialog-wrapper {
  padding: 10px;
  text-align: center;
}

mat-card-title {
  line-height: 1.5;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-wrapper{
  min-height: 500px;
}
