<div *ngIf="selections.datasets.length > 1; then prophet; else dialog"></div>
<ng-template #prophet>
  <div class="prophet-wrapper">
    <mat-card class="content-wrapper">
      <div class="model-selector">
        <p style="font-size: 18px; font-weight: lighter; margin-bottom: 10px">
          Mode
        </p>
        <mat-radio-group
          aria-label="Select a mode"
          [(ngModel)]="selectedMode"
          (change)="updateProphetForecast()"
        >
          <mat-radio-button value="auto">Automatic Scenarios</mat-radio-button>
          <mat-radio-button value="custom">Custom Scenarios</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="forecast-controls">
        <div style="width: 50%">
          <div class="data-selector">
            <p
              style="font-size: 18px; font-weight: lighter; margin-bottom: 10px"
            >
              Forecast for
            </p>
            <mat-radio-group
              [(ngModel)]="dependentDataset"
              aria-label="Select an option"
              (change)="updateProphetForecast()"
            >
              <ng-container *ngFor="let dataset of selections.datasets">
                <mat-radio-button
                  *ngIf="
                    dataset.id !== undefined &&
                    dataset.featureSelected !== undefined &&
                    scenarioData[dataset.id] !== undefined
                  "
                  [value]="dataset.id"
                  [disabled]="
                    scenarioData[dataset.id].selectable === false ||
                    dataset.countryOptions === undefined
                  "
                  style="padding-top: 15px; padding-bottom: 15px"
                >
                  {{ dataset.name }}
                  <div *ngIf="dataset.featureSelected !== undefined">
                    ({{ dataset.featureSelected }})
                  </div>
                </mat-radio-button>
              </ng-container>
            </mat-radio-group>
          </div>
        </div>

        <div style="width: 50%">
          <p
            *ngIf="predictionPeriods > 0"
            style="font-size: 18px; font-weight: lighter; margin-bottom: 10px"
          >
            Scenarios
          </p>
          <div
            *ngIf="
              selectedMode == 'custom';
              then customscenarios;
              else autoscenarios
            "
          ></div>
          <ng-template #customscenarios>
            <div *ngIf="validDatasets > 1">
              <mat-accordion multi="true" class="scenarios-control">
                <ng-container *ngFor="let dataset of selections.datasets">
                  <mat-expansion-panel
                    *ngIf="
                      dataset.id !== undefined &&
                      dataset.featureSelected !== undefined &&
                      dependentDataset !== undefined &&
                      predictionPeriods > 0
                    "
                    [disabled]="
                      dataset.id === dependentDataset ||
                      scenarioData[dataset.id].selectable === false
                    "
                    [expanded]="
                      dataset.id !== dependentDataset &&
                      scenarioData[dataset.id].selectable === true
                    "
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{ dataset.featureSelected }}
                      </mat-panel-title>
                      <mat-panel-description
                        *ngIf="
                          scenarioData[dataset.id].active === true &&
                            dataset.id !== dependentDataset;
                          else Disabled
                        "
                      >
                        Active
                        <mat-icon class="status-icon-active"
                          >check_circle_outline</mat-icon
                        >
                      </mat-panel-description>
                      <ng-template #Disabled>
                        <mat-panel-description
                          *ngIf="
                            dataset.id !== dependentDataset;
                            else ForecastedData
                          "
                        >
                          <div
                            *ngIf="
                              scenarioData[dataset.id].selectable === true;
                              else NoCountryData
                            "
                          >
                            Inactive
                          </div>
                          <ng-template #NoCountryData
                            ><div>
                              No data for selected country
                            </div></ng-template
                          >

                          <mat-icon class="status-icon" color="warn"
                            >block</mat-icon
                          >
                        </mat-panel-description>
                        <ng-template #ForecastedData>
                          <mat-panel-description>
                            Forecasted
                            <mat-icon class="status-icon-target"
                              >auto_graph</mat-icon
                            >
                          </mat-panel-description>
                        </ng-template>
                      </ng-template>
                    </mat-expansion-panel-header>
                    <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      [(ngModel)]="scenarioData[dataset.id].active"
                      (change)="updateProphetForecast()"
                    >
                      Activate
                    </mat-slide-toggle>
                    <div
                      *ngIf="
                        dataset.id !== undefined &&
                        dependentDataset !== undefined &&
                        predictionPeriods > 0
                      "
                    >
                      <mat-form-field
                        class="scenario-field"
                        *ngFor="let i of scenarioIndeces"
                      >
                        <mat-label> Step {{ i }}</mat-label>
                        <input
                          matInput
                          [(ngModel)]="scenarioData[dataset.id].data[i]"
                          placeholder="Scenario"
                        />
                      </mat-form-field>
                      <button mat-icon-button (click)="updateMaxScenarios()">
                        <mat-icon>add</mat-icon>
                      </button>
                    </div>
                  </mat-expansion-panel>
                </ng-container>
              </mat-accordion>
            </div>
          </ng-template>
          <ng-template #autoscenarios>
            <div class="custom-slider" *ngIf="validDatasets > 1">
              <ngx-slider
                [(value)]="currentSliderValue"
                [options]="options"
                (userChangeEnd)="updateProphetForecast()"
              ></ngx-slider>
            </div>
          </ng-template>
        </div>
      </div>
      <div
        *ngIf="validDatasets > 1 && selectedMode === 'custom'"
        style="display: flex; margin-top: 10px"
      >
        <button
          mat-raised-button
          color="primary"
          class="predict-button"
          (click)="updateProphetForecast()"
        >
          <fa-icon [icon]="faChartLine"></fa-icon>
          Forecast
        </button>
      </div>

      <div *ngIf="validDatasets > 1; else inValidSelections">
        <mat-card>
          <div
            class="plot-container"
            *ngIf="data.data.length > 0; else spinner"
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
              "
            >
              <div>
                <p>Data from data set:</p>
                <div class="solidLine"></div>
              </div>
              <div style="margin-left: 30px">
                <p>Forecasted Data:</p>
                <div class="dashedLine"></div>
              </div>
            </div>
            <mat-card-title class="container-label">Forecast</mat-card-title>
            <plotly-plot
              [data]="data.data"
              [layout]="data.layout"
              [config]="data.config"
            ></plotly-plot>
          </div>
        </mat-card>
        <mat-card style="margin-top: 1em">
          <div
            class="plot-container"
            *ngIf="dataScenarios.data.length > 0; else spinner"
          >
            <div
              style="
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
              "
            >
              <div>
                <p>Data from data set:</p>
                <div class="solidLine"></div>
              </div>
              <div style="margin-left: 30px">
                <p>Forecasted Data:</p>
                <div class="dashedLine"></div>
              </div>
            </div>
            <mat-card-title class="container-label">Scenarios</mat-card-title>
            <plotly-plot
              [data]="dataScenarios.data"
              [layout]="dataScenarios.layout"
              [config]="dataScenarios.config"
            >
            </plotly-plot>
          </div>
        </mat-card>
      </div>

      <ng-template #spinner>
        <div class="loading-spinner">
          <mat-spinner *ngIf="showSpinner === true"></mat-spinner>
        </div>
      </ng-template>
    </mat-card>
  </div>
</ng-template>

<ng-template #inValidSelections>
  <div class="dialog-wrapper">
    <mat-card class="dialog">
      <mat-card-title>
        <mat-icon style="font-size: xx-large; padding: 7px"
          >info_outline</mat-icon
        >
        <div>
          The forecast cannot be computed for the current selections
        </div></mat-card-title
      >
      <br />
      <mat-card-content>
        <p>Please select features and a country.</p>
        <p>
          At least two features must be available and selected for the specified
          country.
        </p>
        <p>The data sets can be managed through the sidebar.</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #dialog>
  <app-fileupload></app-fileupload>
</ng-template>
