<div class="outer-wrapper">
  <mat-card *ngIf="historyPlot.data.length > 0">
    <div *ngIf="showSpinner; then spinner; else history"></div>
  </mat-card>
</div>

<ng-template #history>
  <button
    mat-icon-button
    color="secondary"
    (click)="zoom()"
    class="zoom-button"
  >
    <mat-icon color="secondary">zoom_out_map</mat-icon>
  </button>
  <plotly-plot
    *ngIf="historyPlot.data.length > 0"
    [data]="historyPlot.data"
    [layout]="historyPlot.layout"
    [config]="historyPlot.config"
  >
  </plotly-plot>
</ng-template>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
