<div class="map-wrapper">
  <mat-card *ngIf="data.data.length > 1 || showSpinner">
    <p class="section-label">Forecast Map</p>

    <div *ngIf="showSpinner; then spinner; else map"></div>
  </mat-card>
</div>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #map>
  <div [formGroup]="selectionControl">
    <div class="slider-container">
      <mat-radio-group
        aria-label="Select an option"
        formControlName="geojsonControl"
      >
        <mat-radio-button value="global">Global</mat-radio-button>
        <mat-radio-button value="germany">Germany</mat-radio-button>
      </mat-radio-group>
      <ngx-slider
        formControlName="sliderControl"
        [(value)]="currentSliderValue"
        [options]="options"
      ></ngx-slider>
    </div>
    <div class="map-container" *ngFor="let feature of features; index as i">
      <plotly-plot
        *ngIf="data.data[i + 1].length > 0"
        [data]="data.data[i + 1]"
        [layout]="data.layout"
        [config]="data.config"
      >
      </plotly-plot>
    </div>
  </div>
</ng-template>
