<div
  *ngIf="selections.datasets.length > 1; then mapforecast; else dialog"
></div>

<ng-template #mapforecast>
  <div class="map-wrapper">
    <div class="toggle-container">
      <div class="model-selector">
        <p style="font-size: 18px; font-weight: lighter; margin-bottom: 10px">
          Model
        </p>
        <mat-radio-group
          aria-label="Select a model"
          [(ngModel)]="selectedModel"
          (change)="updateForecastData()"
        >
          <mat-radio-button value="var"
            >Vector Auto Regression</mat-radio-button
          >
          <mat-radio-button value="hwes">HW Smoothing</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div *ngIf="validDatasets > 1; else inValidSelections">
      <div *ngIf="showSpinner; then spinner; else map"></div>
    </div>
  </div>
</ng-template>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #map>
  <div [formGroup]="selectionControl">
    <div class="slider-container custom-slider">
      <p style="font-size: 18px; font-weight: lighter; margin-bottom: 10px">
        Scope
      </p>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="geojsonControl"
      >
        <mat-radio-button value="global">Global</mat-radio-button>
        <mat-radio-button value="germany">Germany</mat-radio-button>
      </mat-radio-group>
      <ngx-slider
        formControlName="sliderControl"
        [(value)]="currentSliderValue"
        [options]="options"
      ></ngx-slider>
    </div>
    <div class="map-container" *ngFor="let feature of features; index as i">
      <mat-card>
        <mat-card-subtitle
          >{{ names![i][1] }} - {{ names![i][0] }}</mat-card-subtitle
        >
        <plotly-plot
          *ngIf="data.data[i + 1].length > 0"
          [data]="data.data[i + 1]"
          [layout]="data.layout"
          [config]="data.config"
        >
        </plotly-plot>
      </mat-card>
    </div>
  </div>
</ng-template>

<ng-template #inValidSelections>
  <div class="dialog-wrapper">
    <mat-card class="dialog">
      <mat-card-title>
        <mat-icon style="font-size: xx-large; padding: 7px"
          >info_outline</mat-icon
        >
        <div>
          The forecast cannot be computed for the current selections
        </div></mat-card-title
      >
      <br />
      <mat-card-content>
        <p>Please select features and a country.</p>
        <p>
          At least two features must be available and selected for the specified
          country.
        </p>
        <p>The data sets can be managed through the sidebar.</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #dialog>
  <app-fileupload></app-fileupload>
</ng-template>
