<div [formGroup]="selectionControl" class="control-container">
  <div style="display: flex; flex-direction: row">
    <div class="control">
      <p id="control-title">Model</p>
      <mat-radio-group
        aria-label="Select a model"
        formControlName="modelControl"
      >
        <mat-radio-button value="var">Vector Auto Regression</mat-radio-button>
        <mat-radio-button value="hwes">HW Smoothing</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="control">
      <p id="control-title">Scope</p>
      <mat-radio-group
        aria-label="Select an option"
        formControlName="geojsonControl"
      >
        <mat-radio-button value="global">Global</mat-radio-button>
        <mat-radio-button value="germany">Germany</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="data-selector">
    <div>
      <p class="section-label">Forecasted data</p>
      <div style="display: flex; flex-direction: row">
        <ng-container *ngFor="let dataset of selections.datasets">
          <div
            *ngIf="
              dataset.id !== undefined &&
              dataset.featureSelected !== undefined &&
              dataset.timeSelected !== undefined
            "
            [ngClass]="{
              active: dataset.scope === scope,
              inactive: dataset.scope !== scope
            }"
            style="display: flex; flex-direction: row; justify-items: start"
          >
            <div>
              {{ dataset.name }}
              <div
                *ngIf="
                  dataset.featureSelected !== undefined &&
                  dataset.varmapFeaturesSelected === undefined
                "
              >
                ({{ dataset.featureSelected }})
              </div>
              <div *ngIf="dataset.varmapFeaturesSelected !== undefined">
                ({{ dataset.varmapFeaturesSelected }})
              </div>
            </div>
            <button
              mat-icon-button
              color="primary"
              class="settings-button"
              [disabled]="dataset.scope !== scope"
              (click)="datasetSettings(dataset.id)"
            >
              <fa-icon [icon]="settingsIcon" size="2x"></fa-icon>
            </button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div *ngIf="validDatasets > 0; else inValidSelections">
  <div *ngIf="showSpinner; then spinner; else map"></div>
</div>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #map>
  <div *ngIf="validData; else selectFeaturesDialog">
    <div [formGroup]="selectionControl">
      <div class="slider-container custom-slider">
        <ngx-slider
          formControlName="sliderControl"
          [(value)]="currentSliderValue"
          [options]="options"
        ></ngx-slider>
      </div>
      <div class="map-container" *ngIf="validData">
        <div class="map" *ngFor="let feature of features; index as i">
          <mat-card>
            <mat-card-subtitle
              >{{ names![i][1] }} - {{ names![i][0] }}</mat-card-subtitle
            >
            <plotly-plot
              *ngIf="data.data[i + 1].length > 0"
              [data]="data.data[i + 1]"
              [layout]="data.layout"
              [config]="data.config"
            >
            </plotly-plot>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #inValidSelections>
  <div class="dialog-wrapper">
    <mat-card class="dialog">
      <mat-card-title>
        <mat-icon style="font-size: xx-large; padding: 7px"
          >info_outline</mat-icon
        >
        <div>
          The forecast cannot be computed for the current selections
        </div></mat-card-title
      >
      <br />
      <mat-card-content>
        <p>Please select features and a country.</p>
        <p>
          At least two features must be available and selected for the specified
          country.
        </p>
        <p>The data sets can be managed through the sidebar.</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #selectFeaturesDialog>
  <div class="feature-dialog-wrapper">
    <mat-card class="dialog" style="height: 100px">
      <mat-card-content>
        <p>
          Please select another feature using the
          <fa-icon
            style="color: #c2185b; margin: 0 5px 0 5px"
            [icon]="settingsIcon"
            size="2x"
          ></fa-icon>
          next to the data set under "Forecasted data". If all data sets are
          disabled you may need to adjust the scope-setting
        </p>
        <p>Or select a feature for another data set in the sidebar.</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #dialog>
  <app-fileupload></app-fileupload>
</ng-template>
