/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #242424;
  color: white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.section-label {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.mat-tooltip.tooltip {
  font-size: 18px;
  line-height: 1.2;
  white-space: pre-line;
}
