/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #242424;
  color: white;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.section-label {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 10px;
}

mat-card-title{
  line-height: 1.5;
}

/* layout of cards*/
.outer-wrapper{
  padding: 10px;
}

.outer{
  min-height: 500px;
}

/* formatting of tooltips */
.mat-tooltip.tooltip {
  font-size: 18px;
  line-height: 1.2;
  white-space: pre-line;
}

/* lines for legend of plots */
.solidLine{
  width: 40px;
  margin:5px 0;
  height:3px;
  background:white;
}

.dashedLine{
  width: 40px;
  margin:5px 0;
  height:3px;
  background:
    repeating-linear-gradient(90deg,white 0 5px,transparent 0 8px)
}