<div class="wrapper">
    <mat-card>
        <mat-card-title>There are not enough datasets available to use this feature</mat-card-title>
        <br>
        <mat-card-content>
            <p>Please upload a dataset or use the demo to begin.</p>
            <p>The data sets can be managed through the sidebar.</p>
        </mat-card-content>
        <button mat-raised-button (click)="onFileUpload($event)">
            <mat-icon style="margin-right: 20px">file_upload</mat-icon>
            Upload dataset
        </button>
        <button mat-raised-button (click)="getDemoDatasets()">
            <mat-icon style="margin-right: 20px">slideshow</mat-icon>
            Demo Datasets
        </button>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>