.correlation-wrapper {
  padding: 10px;
}

.frequency-disclaimer {
  display: flex;
}

.disclaimer-text {
  margin-left: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-card{
  height: 500px;
}