.correlation-wrapper {
  padding: 10px;
}

.frequency-disclaimer {
  display: flex;
  float: right;
  margin-left: auto;
}

.disclaimer-text {
  margin-left: 10px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

mat-card {
  height: 500px;
}

.data-selector {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-checkbox {
  margin-right: 10px;
}
