.frequency-disclaimer {
  display: flex;
  float: right;
  margin-left: auto;
}

.disclaimer-text {
  margin-left: 10px;
}

.data-selector {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-checkbox {
  margin-right: 10px;
}
