<div class="outer-wrapper">
  <mat-card class="outer">
    <div *ngIf="showSpinner; then spinner; else correlation"></div>
  </mat-card>
</div>

<ng-template #correlation>
  <div class="frequency-disclaimer" *ngIf="matchingFrequencies === false">
    <mat-icon>info_outline</mat-icon>
    <p class="disclaimer-text">Time frequencies should match to correlate</p>
  </div>
  <div class="data-selector">
    <div>
      <p class="section-label">Selected data</p>
      <ng-container *ngFor="let dataset of selections.datasets">
        <mat-checkbox
          *ngIf="
            dataset.id !== undefined &&
            dataset.featureSelected !== undefined &&
            activeDatasets[dataset.id] !== undefined
          "
          [(ngModel)]="activeDatasets[dataset.id].active"
          [disabled]="activeDatasets[dataset.id].selectable === false"
          (change)="updateCorrelationPlot()"
        >
          {{ dataset.name }}
        </mat-checkbox>
      </ng-container>
    </div>
  </div>
  <mat-card>
    <plotly-plot
      *ngIf="data.data.length > 0"
      [data]="data.data"
      [layout]="data.layout"
      [config]="data.config"
    >
    </plotly-plot>
  </mat-card>
</ng-template>

<ng-template #spinner>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
