.slider-container {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
}

mat-card {
  height: 450px;
}

.zoom-button {
  position: absolute;
  z-index: 100;
  margin-bottom: -60px;
}

/*ngx-slider style*/

::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
  background: #ffffff;
  height: 2px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: red;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  /* to remove the default positioning */
  bottom: 0;
  background-color: #c2175a;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble.ngx-slider-limit {
  color: #ffffff;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ffffff;
  top: -1px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #c2175a;
}
