.edit-filename {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
}

.edit-button {
  float: right;
  margin-left: auto;
}

.exit-button {
  float: right;
  margin-left: auto;
}

.exit-button-container {
  padding-bottom: 20px;
  display: flex;
}

.filename-label {
  justify-content: start;
  align-items: center;
  display: flex;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 5px;
  width: 300px;
  overflow: hidden;
}

.edit-filename-area {
  width: 100%;
}
